
@keyframes ldio-jt4qtk6durf { 0% { transform: rotate(0) } 100% { transform: rotate(360deg); } }
.ldio-jt4qtk6durf > div {
  animation: ldio-jt4qtk6durf 1s infinite linear;
  transform-origin: 100px 100px;
}
.ldio-jt4qtk6durf > div div { position: absolute; }
.ldio-jt4qtk6durf > div div:nth-child(1), .ldio-jt4qtk6durf > div div:nth-child(2) {
  width: 164px;
  height: 164px;
  border: 24px solid;
  border-radius: 50%;
  border-color: transparent #833ae0 #833ae0 #833ae0;
  box-sizing: border-box;
  position: absolute;
  transform: rotate(45deg);
  transform-origin: 100px 100px;
}
.ldio-jt4qtk6durf > div div:nth-child(1) {
  transform: rotate(45deg) translate(18px, 18px);
}
.ldio-jt4qtk6durf > div div:nth-child(2) {
  transform: rotate(0deg) translate(18px, 18px);;
}
.ldio-jt4qtk6durf > div div:nth-child(3) {
  width: 0;
  height: 0;
  border: 24px solid;
  border-color: transparent transparent transparent #833ae0;
  transform: translate(100px, 6px);
}
.loadingio-spinner-reload-9rpou4g6sm4 {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.ldio-jt4qtk6durf {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-jt4qtk6durf div { box-sizing: content-box; }