@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}


.buy-quantity { 
    width: 129px;
    text-align: center;
    font-size: 64px;
    color:#833AE0;
}