.fa-caret-down{
    display: inline-block;
    text-align: center;
    color: red;
    font-size: 28px;
    
}
.fa-caret-up{
    display: inline-block;
    text-align: center;
    color: green;
    font-size:28px;
    
}